# ==========================
# Dependencies
# ==========================
node_modules/
.venv/
venv/
env/

# ==========================
# Environment variables
# ==========================
.env

# ==========================
# Python
# ==========================
__pycache__/
.pytest_cache/
.ruff_cache/

# ==========================
# Vite
# ==========================
.vite/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db